.resumeContainer {
    font-size: 0.9em;
}

.resumeContainer h4 {
    font-size: 1em;
}

.resumeContainer ul {
    font-size: 0.8em;
}

.resumeContainer p {
    font-size: 0.8em;
}

.topLink {
    font-size: 1.2em;
}

.resumeContainer h3 {
    padding-top: 20px;
}
