.resumeContainer h4 {
    font-size: 1em;
}

.resumeContainer ul {
    font-size: 0.8em;
}

.resumeContainer p {
    font-size: 0.8em;
}

.topLink {
  font-size: 1.2em !important;
  margin-top: 25px;
}

.resumeContainer h3 {
  padding-top: 25px;
  padding-bottom: 15px;
}

.resumeContainer {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Add spacing between sections */
}

.twoColumnContainer {
    display: flex;
    flex-wrap: unset;
    gap: 2rem; /* Add spacing between columns */
}

.leftColumn, .rightColumn {
    flex: 1;
    min-width: 300px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .twoColumnContainer {
        flex-direction: column;
    }
}

.container {
  max-width: 70rem;
}

